                // MODELOS PAGE 1//


.laferrari{
    background-image: url("../IMAGES/laferrari.jpg");
}
.spider{
    background-image: url("../IMAGES/spider.jpg");
}
.veiron{
    background-image: url("../IMAGES/Bugatti.jpg");
}
.bmw{
    background-image: url("../IMAGES/bmwM8.jpg");
}
.corvete{
    background-image: url("../IMAGES/corvette.jpg");
}
.mustang{
    background-image: url("../IMAGES/Auto\ Addict\ 🏎️\ on\ Twitter.jpg");
}
.jaguar{
    background-image: url("../IMAGES/jaguardo.jpg");
}
.aston-martin{
    background-image: url("../IMAGES/Aston\'Martin.jpg");
}
.audi{
    background-image: url("../IMAGES/audir8.jpg");
}

                // MODELOS PAGE 2 //
.mini{
    background-image: url("../IMAGES/minicooper.jpg");
}
.bentley{
    background-image: url("../images/bentley.jpg");
}
.roll{
    background-image: url("../images/rollroyce.jpg");
}
.land{
    background-image: url("../images/land.jpg");
}
.gtr{
    background-image: url("../images/nissangtr.jpg");
}
.nsx{
    background-image: url("../IMAGES/hondansx.jpg");
}
.bmw-3300{
    background-image: url("../images/bmw3300.jpg");
}
.alfa{
    background-image: url("../images/alfa.jpg");
}
.tesla{
    background-image: url("../images/tesla.jpg");
}

                // MODELOS PPAGE 3//
.challenger{
    background-image: url("../IMAGES/challenger.jpg");
}
.veloster{
    background-image: url("../IMAGES/veloster.jpg");
}
.fordgt{
    background-image: url("../IMAGES/fordgt.jpg");
}
.jeep{
    background-image: url("../IMAGES/jeep.jpg");
}
.sw4{
    background-image: url("../IMAGES/sw4.jpg");
}
.bronco{
    background-image: url("../IMAGES/bronco.jpg");
}
.scirocco{
    background-image: url("../IMAGES/scirocco.jpg");
}
.mercedes-amg{
    background-image: url("../IMAGES/mercedes-amg.jpg");
}
.volvo{
    background-image: url("../IMAGES/Volvopolestar.jpg");
}





























                // IMAGES SERVICIOS //

.img-garantias{
    background-image: url("../IMAGES/garantias.jpg");
}

.img-consultas{
    background-image: url("../IMAGES/recall.jpg");
}

.img-mantenimiento{
    background-image: url("../IMAGES/planmantenimiento.jpg");
}

.img-asistencia{
    background-image: url("../IMAGES/asesoria.jpg");
}

.img-accesorios{
    background-image: url("../IMAGES/accesorios.jpg");
}

.img-cuenta{
    background-image: url("../IMAGES/mi\'cuenta.jpg");
}
