footer{
    background:#000000;
    height: auto;
    padding-bottom: 1px;
    border-top: 1px solid #dee2e6;
    iframe {
    border: 2px double #FFB13C;
}
}


.links-desktop-footer{
    display: flex; 
    align-self: flex-end;
    
}
.icons-footer{
    height: 900px;
}
.footer-container{
    background-color: black;
    color: #D7D7D7;
}

.footer1{
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    justify-content: center;
    border-top: 1px solid #dee2e6
}
.cards-footer{
    padding: 0 20px;
}

@media (min-width:1400px) {

    .mostwanted{
        flex-direction: row;
        gap: 15px;
    }
    
}



